<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<th:block th:if="${addMovieToFavoriteById}">
    <form method="post" th:action="@{/addMovieToFavoriteById}" th:object="${movie}">
        <p>ID: <input th:field="*{imdbId}" type="text"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</th:block>

<th:block th:if="${addMovieToFavoriteByName}">
    <form method="post" th:action="@{/addMovieToFavoriteByName}" th:object="${movie}">
        <p>Name: <input th:field="*{title}" type="text"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</th:block>

<th:block th:if="${getFavoriteFilmsWithActor}">
    <form method="post" th:action="@{/getFavoriteFilmsWithActor}" th:object="${actor}">
        <p>firstName: <input th:field="*{firstName}" type="text"/></p>
        <p>lastName: <input th:field="*{lastName}" type="text"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</th:block>

<th:block th:if="${removeMovieFromFavorite}">
    <form method="post" th:action="@{/removeMovieFromFavorite}" th:object="${movie}">
        <p>imdbId: <input th:field="*{imdbId}" type="text"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</th:block>

</body>
</html>