<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#E6E6FA">
<p th:text="'Id: ' + ${id} + '!'" />
<p th:text="'Title: ' + ${title}" />
<p th:text="'Year: ' + ${year}" />
<p th:text="'Plot: ' + ${plot}" />
<p th:text="'Poster URL: ' + ${posterURL}" />
<p th:text="'Actors: ' + ${actors}" />
<p th:text="'Award Wins: ' + ${awardWins}" />
<p th:text="'Award Nominations: ' + ${awardNominations}" />
<p th:text="'TomatoMeter: ' + ${tomatoMeter}" />

</body>
</html>